
<table class='results'><tbody>
<tr>
		<td>
			<h4>
			<%= @portfolio.name %> Agencies [<%= link_to "All Portfolios", "/portfolios" %>]
			</h4>
		</td>
</tr>
<tr>
	<td>
	<% @portfolio.agencies.each do |agency| %>
	</td>
</tr>
<tr>
    <td>
    <%= link_to agency.name, [agency.portfolio,agency] %>
	</td>
</tr>
	<% end %>

	</tbody>
	</table>

