/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    body { margin: 0; padding: 0; font-family: 'Verdana'; color:#695330;  font-size:90%;  }
#container {margin-left:auto; margin-right:auto; padding:1%; max-width:1024px; font-size:12px;  }
   .two {width:auto; font-size: 12px; color:#7DAD0C; }
 
    .hr {width:auto;}
    .top {width:480px; padding-bottom:1%; }/*tax table*/
#upper_nav {width:1024px; display:inline}
   
    #header1 {color: #7DAD0C;   font-family:Impact; font-size:40px; float:right  }
   
    #header2 {color: #7DAD0C;   font-family:Impact; font-size:40px; float:left }
 
    #header {width:100%; }

#left {width:400px; float:left;}
#right {width:400px;float:right;}
.more { float:right; height:17px; margin:3px; }
    .data {width: 150px; height: 30px;   }
    .data a { text-decoration:none;}
    .contact_nav  { display:inline; text-align:center;  
    font-family:Impact; font-size: 15pt; float:left; width:auto; padding-bottom:5px; margin-bottom:5px;  }
  .contact_nav a { text-decoration:none; color: #7DAD0C;}
  .links { width:150px; float:left; font-size:16px; background-color:#fff; color:#000; margin:5px;  
  display:inline; text-align:center;}
  .links a { text-decoration:none;color:#000; margin:5px;  display:inline; text-align:center;}
  .totals {width:auto; float:left; color:#7DAD0C; margin:5px;  display:inline; text-align:center; padding:3px; }
  .totals:nth-of-type(odd) {background-color:#EBF5FF;}
  .totals:nth-of-type(even) {background-color:#FBFFCA;}
  .show {display:none}
  .featured  { background-color:#EBF5FF; margin:10px; border-radius:10px; padding:5px; width:auto;}
  .featured a:hover { background-color:#fff; }

  #footer { margin-left:12px; margin-right:12px;font-size:8pt}


.inlinesparkline {width:auto;}
	.clear {clear:both;}
	.show {float:right; width:20px;  }
	
	 li {  color:#5E734E; padding:3px;}
     
	a:visited { color:  #B28F6B; text-decoration:none; }
	h1 { font-size: 15pt; display:inline; color: #7DAD0C; margin:15px;}
	h2 { color: #7DAD0C; font-family: 'Verdana'; font-size:16px; }
	h3 { color: #7DAD0C;  font-family: 'Verdana'; margin-left:15px; }
	h4 { color: #7DAD0C;  font-family: 'Verdana';  margin-left:10px; font-style:normal; }
    h5 { margin-left: 3%; font-family: 'Verdana';  color:#695330; font-size:15px;}
    h6 { margin-left:3%; font-family: 'Verdana'; font-size:12pt; color:#1B1B1B;  margin-left:7px; margin-right:auto;  border-radius:5px; padding:4px; }

	#blog { float:right; background-color:#fff; width:390px;   border-width:2px; border-style: solid; 
	border-radius:10px; padding:5px;}
    #blog a { color:#7DAD0C; }
    .money {text-align:right; width:auto  }
  
	
    #accordion { width:480px; color:#695330; }
    #accordion div { margin-top: 2%; }/*default state*/
    #accordion a { color:#7DAD0C}
    #accordion a:visited { color:#B28F6B;}
    .results {  padding: 1%;  width:480px; margin-bottom:30px; color:#695330; border-color:#EBF5FF; border-width:2px; border-radius:10px;  border-style: solid; border-radius:10px; }
  #accordion .content:nth-of-type(even) 
  { background-color:#FFF; color:#695330; width:480px; border-width:2px; border-radius:10px;  border-style: solid; border-radius:10px; padding:5px; }
  #accordion .content:nth-of-type(odd)
{ background-color:#EBF5FF; padding:5px;   width:480px;  color:#695330; border-width:2px; border-radius:10px;  border-style: solid; border-radius:10px;   }
#accordion .three
{    width:480px;  color:#695330;  }
  
   tbody tr:nth-of-type(odd) { background-color: #fff;  }
   tbody tr:nth-of-type(even) { background-color: #EBF5FF; }
   tbody td {padding:5px; color:#695330; }
 
 p { margin-left:5px;}
 .source { font-style:normal; font-size:80%; text-align:right; width:350px; }
#chart { width: 300px; height: 300px; margin: 5% auto;}

div.objectives  {  height:30px;overflow:hidden; padding:2px;   }

div.objectives:hover  {height:100px; padding:2px; overflow:auto }
  #one {float:left; }
  #two {float:right; }
    .moby {display:none}
    .adsense {display:none}
	
	
	
        @media screen and (max-width:785px) {
		.adsense {display:block}
		.moby {display:block;}
        #twitter {display:none;}
        .two {width:auto; margin-top:1%; font-size: 12px; color:#7DAD0C; }
        
        .top {width:auto; padding-bottom:1%; }/*tax table*/
        .inlinesparkline {width: auto;}
        #container { width: auto; font-size:100% }     
        #blog { display:none}
		#header {width:auto;}
		#contact_nav{ width:auto;}
		#header2 { display:none}
        .three { width: auto; }
        #accordion .three
{    width:auto;  color:#695330;  }
  
   tbody tr:nth-of-type(odd) { background-color: #fff;  }
   tbody tr:nth-of-type(even) { background-color: #EBF5FF; }
   tbody td { color:#695330; }
   .contact_nav {display:none;}
   .top {width:95%;; padding-bottom:1%; }/*tax table*/
   .links {display:none;}
        #accordion div { margin-top: 1%; }/*default state*/
        #accordion { width: auto; float:left; }
        #accordion .content { width: auto; }
        #accordion .content:nth-of-type(even) 
  { background-color:#FFF; color:#695330; width:auto; border-width:2px; border-radius:10px;  border-style: solid; border-radius:10px;  }
        #accordion .content:nth-of-type(odd)
{ background-color:#EBF5FF;   width:auto;  color:#695330; border-width:2px; border-radius:10px;  border-style: solid; border-radius:10px;   }
        .results { width:auto; padding:0px; margin:0px; }
       
        .results > table { width: auto !important;  }
        }